* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }

  .js-edit-form input{
    width: 150px;
    display: inline-block;
  }

  .js-edit-form > button {
    display: inline;
  }

  form {
    margin-bottom : 10px;
    display: inline-block;
    width : 250px; 
  }

  form button {
    margin-top: 5px;
  }
  
  .hidden {
    display: none;
  }
  
  #shopping-list-item {
    width: 250px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .shopping-list {
    list-style: none;
    padding-left: 0;
  }
  
  .shopping-list > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
  }
  
  .shopping-item {
    display: block;
    color: grey;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .shopping-item__checked {
    text-decoration: line-through;
  }